html {
  height: 100%; }

body {
  height: 100%;
  margin: 0;
  padding: 0;
  background: #29B4B4; }

header {
  margin-left: 2%; }
  header h1 {
    display: inline-block; }
  header span {
    margin-left: 10px; }

footer {
  position: absolute;
  bottom: 0;
  left: 45%; }

.container {
  height: 87%;
  width: 100%;
  margin: auto;
  position: relative; }
  .container #pano {
    height: 100%;
    width: 100%;
    position: absolute; }
  .container #map {
    position: absolute;
    bottom: 0;
    left: 0;
    height: 180px;
    width: 150px;
    z-index: 10; }
    .container #map:hover {
      height: 260px;
      width: 260px; }

#arrow-right {
  position: absolute;
  z-index: 5;
  bottom: 45%;
  right: 2%;
  width: 30px;
  height: 30px;
  border-right: 10px solid #ffffff;
  border-top: 10px solid #ffffff;
  transform: rotate(45deg);
  box-shadow: inset 0px 3px 0px 0px #514D48, 3px 0px 0px 0px #514D48; }

#arrow-right:hover {
  border-right: 10px solid #aee8e3;
  border-top: 10px solid #aee8e3; }

#arrow-left {
  position: absolute;
  z-index: 5;
  bottom: 45%;
  left: 2%;
  width: 30px;
  height: 30px;
  border-left: 10px solid #ffffff;
  border-bottom: 10px solid #ffffff;
  transform: rotate(45deg);
  box-shadow: inset 3px 0px 0px 0px #514D48, 0px 3px 0px 0px #514D48; }

#arrow-left:hover {
  border-left: 10px solid #aee8e3;
  border-bottom: 10px solid #aee8e3; }
